* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}
.nav-logo {
    height: 10vh;
}
nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 5rem;
    width: 100vw;
}
nav a {
    color: red;
    text-decoration: none;
    font-size: 3rem;
}
nav li {
    list-style: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: brown;
    font-size: 3rem;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    width: 100vw;
}
footer img {
    height: 10vh;
}
.indexheader{
    background-image: url(./img/pand.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 50vh;
}