/*Algemeen*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

.nav-logo {
  height: 10vh;
}

nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0rem 2.5rem;
  width: 100vw;
  height: 10rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 3;
  padding: 1rem;
  margin-left: -9rem;
  margin-right: 1rem;
  width: 17vw;
}

.dropdown-content a {
  text-align: center;
  color: red;
  padding: 0.8rem 1rem 0rem 0.2rem;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
}

nav a {
  color: red;
  text-decoration: none;
  font-size: 3rem;
}

nav li {
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
  align-items: center;
}

.icon {
  margin-top: 2.3vh;
  height: 7vh;
}

.cart {
  margin-top: 2.3vh;
  height: 7vh;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: brown;
  font-size: 3rem;
  height: 10vh;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  width: 100vw;
}

footer div p {
  font-size: 2rem;
}

footer img {
  height: 10vh;
}

.copy {
  color: darkgray;
  font-size: 1.5rem;
}

.log {
  margin-top: 2rem;
  height: 6vh;
}

label {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}
h2{
  text-align: center;
}

header {
  text-align: center;
}

/*end=Algemeen*/

/*Page-Specifiek*/
.prodfoot{
  padding-top: 10vh;
}
.tafel{
  font-size: 1.6rem;
  padding-bottom: 12rem;
}
.tafel2{
  padding-bottom: 11rem;
}
.tafeldiv {
  margin-left: auto;
  margin-right: auto;
}

.tafel{
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;

}
.post{
  max-width: 35vw;
}

.informatie-algemeen {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: white;
  height: 50vh;
  width: 60vw;
  margin-top: 17rem;
  margin-left: 20vw;
  padding: 2rem;
}
.grey-background {
  background-image: url(./img/grey-background.jpg);
}
.button {
  padding: 0.75rem;
}
.form {
    margin-top: 15vh;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5) ;
    width: 40vw;
    height: 45vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.pass {
  height: 10vh;
}

.emp {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.emplist {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepagina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(./img/pand.png);
  background-size: cover;
}
.doelstellinghome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./img/grey-background.jpg);
  background-size: cover;
}
.doelstelling {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 2rem;
}

.doel {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.doeltekst {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 0 3rem 2rem 3rem;
}

.bedrijfges {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: white;
  height: 40vh;
  width: 60vw;
  margin-top: 25rem;
  padding: 2rem;
}

.par{
  font-size: 1.5rem;
 }

.retour-div p {
  margin-bottom: 2rem;
}

.milieutekst {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.9rem;
  color: white;
  height: 40vh;
  width: 60vw;
  margin-top: 25rem;
  padding: 2rem;
}
/*end=Page-Specifiek*/
/* klacht */
.klachtpage{
  height: 80vh;
  width: 100vw;
  background-image: url(./img/backgroundklacht1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.klachtrdiv{
  display: flex;
  text-align: center;
}
.klachttxtback{
  height: 70vh;
  width: 60vw;
  background-color: rgba(112, 112, 112, 0.555);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.klachth1{
  font-size: 5rem;
  margin-bottom: 5rem;
}
.klachtbtn{
  padding: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
}
.reviewpage{
  height: 80vh;
  width: 100vw;
  background-image: url(./img/backgroundklacht1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewtxtback{
  height: 70vh;
  width: 60vw;
  background-color: rgba(112, 112, 112, 0.555);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.reviewnaam, .reviewemail, .reviewklacht{
font-size: 2.5rem;
}
input[type="text" i] {
  padding: 2px 3px;
}
input[type="email" i] {
  padding: 2px 3px;
}
.textreview{
  font-size: 3rem;
}



/* producten test */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 270px;
  height: 400px;
  margin: 2rem;
  border-radius: 15px;
  box-shadow: 10px 18px 32px 0px rgba(0,0,0,0.41);
  flex-basis: 15%;
}

.card h2, .card p {
  padding-top: 0.4rem;
  padding-left: 1rem;
}

.card p {
  font-size: medium;
}

.card-image{
  position: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card-image-image{
  max-height: 20vh;
  max-width: 100%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card-cart {
  position: absolute;
  background-color: green;
  color: white;
  border-radius: 15px;
  height: 5vh;
  width: 7vw;
  margin-left: 6vw;
  margin-top: 7vh;
  font-size: large;
}





/* klacht */
/*end=Page-Specifiek*/
